/* GENERAL */
* {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
}

.hidden {
  display: none!important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
}

h1, h2, h3 {
  margin: 10px;
}

main {
  width: 60%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4280b0;
}

.column {
  width: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  background-color: #295174;
}

.gameboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.game-display {
  flex-direction: row;
  flex-wrap: wrap;
}

/* IMAGES */

img {
  width: 75px;
  height: 75px;
}

/* BUTTONS */

.nav-button {
  cursor: pointer;
  border: 0;
  background-color: #162a41;
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 4px, 4px, #000000!important;
  padding: 10px;
  margin-top: 60px;
}

.nav-button:hover {
  background-color: #0f1c2b;
}

.nav-button:active {
  box-shadow: none;
  transform: translateY(3px);
}

.mode-button {
  width: 250px;
  margin: 5%;
  padding: 0;
  border-radius: 4px;
  font-size: 20px;
  color:#ffffff;
  border: 0;
  background-color: #162a41;
  box-shadow: 4px 4px #000000;
  text-align: center;
  cursor: pointer;
}

.mode-header {
  margin: 0;
  padding: 10px;
}

p {
  margin: 0;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.mode-button:hover {
  background-color: #0f1c2b;
}

.mode-button:active {
  box-shadow: none;
  transform: translateY(3px);
}

.fighter-button {
  border: 0;
  padding: 0;
  margin: 10px;
  padding: 10px;
  background-color: #4280b0;
  cursor: pointer;
}

.fighter {
  width: 220px;
  height: 220px;
}

.fighter:hover {
  background-color: #3b76a2
}

.fighter:active {
  box-shadow: inset 0px 0px 5px #000000;
}