* {
  margin: 0;
  /* border: 2px solid green; */
  font-family: 'Fredoka One', cursive;
}

.hidden {
  display: none!important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
}

h1, h2, h3 {
  margin: 10px;
}

main {
  width: 50%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b4b4ce;
}

button {
  cursor: pointer;
}

.gameboard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
}

.game-display {
  flex-direction: row;
  flex-wrap: wrap;
}

.mode-selection {
  width: 250px;
  padding-bottom: 20px;
  border-radius: 4px;
  color:#f0ffff;
  background-color: #8c8c9f;
  box-shadow: 4px 4px #787888;
  text-align: center;
  cursor: pointer;
}

.mode-selection:hover {
  background-color: #757583;
}

.mode-selection:active {
  box-shadow: 1px, 1px, black;
  transform: translateY(3px);
}

ul {
  list-style-type: none;
  padding: 0;
}

.column {
  width: 25%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0ffff;
  background-color: #323031;
}

img {
  width: 75px;
  height: 75px;
}

.fighter {
  width: 200px;
  height: 200px;
  cursor: pointer;
}